.appointment-page-date-wrapper{
    height: 130vh;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/***************************/

.doctor-card{
    /* text-align: center; */
    margin-top: 20px;
    width: 80%;
    box-shadow: 2px 5px 24px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 2px 5px 24px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 5px 24px -1px rgba(0,0,0,0.4);
    border-radius: 14px;
}

.doctor-image{
    /* text-align: center; */
    position: relative;
    height: 140px;
    width: 120px;
    bottom: 30px;
    mix-blend-mode: darken;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.doctor-name{
    position: relative;
    bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    color: #00495E;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.doctor-description{
    /* margin-top: 5px; */
    padding: 0px 5px;
    text-align: center;
    color: #00495E;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}


/********************/


.footer{
    position: fixed;
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 0;
    background-color: white;
    /* border-radius: 12px; */
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 100px;
}

.next-button{
    text-align: center;
    width: 80%;
    font-family: 'Nunito', sans-serif;
    border-radius: 12px;
    padding: 5px 12px;
    font-size: 28px;
    color: white;
    margin-right: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,225,216,1) 0%, rgba(1,213,220,1) 35%, rgba(1,186,230,1) 100%);
}